* {
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  margin: 0; /*Sem margem*/
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 10px auto;
  padding: var(--space-30);
  background-color: var(--bg-color);
}
.container h1 {
  margin: var(--space-30) auto;
  text-align: center;
}
.box {
  --weidth-total: 60%;
  --margin: 25px;
  width: var(--weidth-total);
  margin: var(--margin) auto;
}
